body{
  background-color: #282c34;
}
.App {
  text-align: left;
  height: 100%;
}

.movies{
  height: 100%;
  width: auto;
  border-right: 1px dashed #61dafb;
  display: inline-block;
  float: left;
  margin-right: 25px;
  padding-right: 25px;
  position: absolute;
}
.movies ul{
  padding: 10px;
}
.movies li{
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  color: #61dafb;
  cursor: pointer;
}

.movies li:hover{
  color: #fff;
}
.description{
  color: #61dafb;
  position: absolute;
  left: 250px;
  padding-right: 50px;
}
.description .h3{
  color: #ffffff;
}
input, textarea, button{
  margin: 10px 0 0 0;
}

label{
  color: #61dafb;
}
fieldset{
  width: 500px;
  /*margin: 20px auto;*/
  padding: 10px;
  border-color: #61dafb;
  text-align: left;
}
legend{
  color: #61dafb;
  text-align: left;
}
#modal{
position: relative;
z-index: 999;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
